extends ../layout

block variables
  - var title = "Login"
  
block content
  form(action="/auth/login" method="post")
    div.form-group
      label(for="email") Email:
      input#email.form-control(type="text" name="email")
    div.form-group
      label(for="password") Password:
      input#password.form-control(type="password" name="password")
    button.btn.btn-primary(type="submit") Log In
