extends layout

block variables
  - var title = "Credits"
  
block content
  h1.text-center Credits
  
  p The following software and licensing is used to create 5e Table Tools
  ul
    li #[a(href="https://expressjs.com") Express JS]
    li #[a(href="https://developers.okta.com")  Okta Login]