extends layout

block variables
  - var title = "Home"
  
block content
  h1.text-center Tools to add a digital twist to you RPG sessions!
  p Bring the 20th Century into your table top gaming. Provide systems to your players and their characters like phones, web searches, and digital maps. GMs control everything from your browser, and players join in with a code, no account required.
  
  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to RPG Tech Tools!  You bunch of n00b5!